@import "tailwindcss";

@theme {
  --color-wedding-primary: #CCB9AC;
  --color-wedding-secondary: #D8C9BA;
  --color-wedding-accent: #E5D1D8;
  --color-wedding-light: #F5F5F5;
  --color-wedding-warm: #E1DBCE;
  --color-wedding-dark: #2B2923;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-wedding-light);
  color: var(--color-wedding-dark);
}