@import "tailwindcss";

@theme {
  --color-wedding-primary: #997b6f;
  --color-wedding-secondary: #b69a8e;
  --color-wedding-accent: #d3c1b5;
  --color-wedding-light: #ede4dd;
  --color-wedding-warm: #E1DBCE;
  --color-wedding-dark: #2f2520;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-wedding-light);
  color: var(--color-wedding-dark);
}